@font-face {
    font-family: "Gilory-light";
    src: url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.woff2") format("woff2");
}
@font-face {
    font-family:"Gilory-Extrabold" ;
    src: url("./fonts/Gilroy-Extrabold.woff") format("woff"),
    url("./fonts/Gilroy-Extrabold.woff2") format("woff2");
}