.about-company {
  display: flex;
  flex-direction: column;
  @include responsive(row-gap, 40, 60, 420, 520);
  @include responsive(padding-top, 40, 50, 420, 520);
  padding-bottom: 60px;
  // * subclass
  &_title {
    text-align: center;
    font-weight: 800;
    @include responsive(font-size, 53, 75, 420, 520);
    line-height: 0.8;
    color: #131926;
  }

  &_subtitle {
    display: none;
    @include responsive(margin-left, 60, 30, 420, 520);
    column-gap: 10px;
  }

  &_subtitle-first {
    @include responsive(font-size, 16, 20, 420, 520);
    font-weight: 800;
    line-height: 0.8;
    color: #131926;
  }
  &_subtitle-second {
    font-weight: 800;
    @include responsive(font-size, 16, 20, 420, 520);
    line-height: 0.8;
    @include responsive(max-width, 140, 350, 420, 520);
    color: #131926;
  }
  &_subtitle-first::after {
    content: url(../svg/pointer-right.svg);
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 12px;
  }

  &_pictures-first > img {
    width: 100%;
  }
  &_information {
    @include responsive(padding-left, 60, 35, 420, 520);
    @include responsive(row-gap, 30, 40, 420, 520);
    display: flex;
    flex-direction: column;
  }
  &_text {
    font-weight: 300;
    @include responsive(font-size, 20, 23, 420, 520);
    line-height: 1.2;
    color: #131926;
    &:nth-child(1) {
      @include responsive(max-width, 286, 422, 420, 520);
    }
    &:nth-child(2) {
      @include responsive(max-width, 310, 450, 420, 520);
    }
    &:nth-child(3) {
      @include responsive(max-width, 340, 448, 420, 520);
    }
  }
  &_pictures-second > img {
    width: 100%;
  }
}
@media (min-width: 520px) {
  .about-company {
    row-gap: 60px;
    @include responsive(padding-top, 50, 60, 520, 740);
    padding-bottom: 60px;
    // * subclass
    &_subtitle {
      @include responsive(margin-left, 30, 61, 520, 740);
    }

    &_subtitle-first {
      @include responsive(font-size, 20, 23, 520, 740);
    }
    &_subtitle-second {
      @include responsive(font-size, 20, 23, 520, 740);
      max-width: 350px;
    }

    &_title {
      @include responsive(font-size, 75, 100, 520, 740);
    }
    &_information {
      @include responsive(padding-left, 35, 59, 520, 740);
      row-gap: 40px;
    }
    &_text {
      font-size: 23px;
      &:nth-child(1) {
        @include responsive(max-width, 422, 597, 520, 740);
      }
      &:nth-child(2) {
        @include responsive(max-width, 450, 621, 520, 740);
      }
      &:nth-child(3) {
        @include responsive(max-width, 448, 619, 520, 740);
      }
    }
  }
}
@media (min-width: 740px) {
  .about-company {
    @include responsive(row-gap, 60, 80, 740, 1000);
    @include responsive(padding-top, 60, 80, 740, 1000);
    @include responsive(padding-bottom, 60, 100, 740, 1000);
    // * subclass
    &_subtitle {
      @include responsive(margin-left, 61, 30, 740, 1000);
    }

    &_subtitle-first {
      font-size: 23px;
    }
    &_subtitle-second {
      font-size: 23px;
    }

    &_title {
      @include responsive(font-size, 100, 150, 740, 1000);
    }
    &_information {
      @include responsive(padding-left, 59, 29, 740, 1000);
    }
    &_text {
      @include responsive(font-size, 23, 25, 740, 1000);
      &:nth-child(1) {
        @include responsive(max-width, 597, 884, 740, 1000);
      }
      &:nth-child(2) {
        @include responsive(max-width, 621, 884, 740, 1000);
      }
      &:nth-child(3) {
        @include responsive(max-width, 619, 861, 740, 1000);
      }
    }
  }
}
@media (min-width: 1000px) {
  .about-company {
    row-gap: 80px;
    @include responsive(padding-top, 80, 100, 1000, 1440);
    padding-bottom: 100px;
    // * subclass
    &_title {
      @include responsive(font-size, 100, 150, 1000, 1440);
    }

    &_subtitle {
      @include responsive(margin-left, 30,140, 1000, 1440);
    }

    &_information {
      @include responsive(padding-left, 59, 29, 1000, 1440);
    }
    &_text {
      @include responsive(font-size, 23, 25, 1000, 1440);
      &:nth-child(1) {
        @include responsive(max-width, 597, 884, 1000, 1440);
      }
      &:nth-child(2) {
        @include responsive(max-width, 621, 884, 1000, 1440);
      }
      &:nth-child(3) {
        @include responsive(max-width, 619, 861, 1000, 1440);
      }
    }
  }
}
@media (min-width: 1440px) {
  .about-company {
    row-gap: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    // * subclass
    &_title {
      font-size: 185px;
    }
    &_subtitle{
      margin-left: 140px;
    }
    &_information {
      padding-left: 141px;
      row-gap: 40px;
    }
    &_text {
      font-size: 25px;
      &:nth-child(1) {
        @include responsive(max-width, 884, 1161, 1440, 1600);
      }
      &:nth-child(2) {
        @include responsive(max-width, 884, 1061, 1440, 1600);
      }
      &:nth-child(3) {
        @include responsive(max-width, 861, 1149, 1440, 1600);
      }
    }
  }
}
