.logo {
  width: 62px;
  height: 62px;
}
.nav {
  display: none;
}
.phone-num {
  font-family: 'Gilroy';
  color: #131926;
  margin-right:calc(51px + (90 - 51) * ((100vw - 420px) / (520 - 420))) ;
  margin-left:calc(46px + (90 - 46) * ((100vw - 420px) / (520 - 420)));
  font-weight: 800;
  font-size: calc(23px + (25 - 23) * ((100vw - 420px) / (520 - 420)));
  line-height: 0.8;
}
.phone-num:hover {
  color: #c12023;
}

.main-header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.burger-menu {
  width: 50px;
  height: 46px;
}
.order-btn {
  display: none;
}
.search {
  padding: 0;
  width: 141px;
  outline: transparent;
  border: transparent;
  padding-left: 34px;
}
.search-form {
  display: none;
  position: relative;
  width: calc(141px + (200 - 141) * ((100vw - 1000px) / (1440 - 1000)));
}
.search::placeholder {
  color: #131926;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1440 - 1000)));
  line-height: 0.8;
}
.search-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
  top: -3px;
  left: 3px;
}
.search-form::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #131926;
  top: 33px;
}
.nav-menu-item {
  font-weight: 800;
  font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1440 - 1000)));
  line-height: 0.8;
}
.nav-menu-item:hover {
  color: #c12023;
}
.order-btn:hover {
  background: #c12023;
}
@media screen and (min-width: 520px) {
  .logo {
    width: 60px;
    height: 60px;
  }
  .phone-num {
    font-weight: 800;
    font-size: calc(25px + (27 - 25) * ((100vw - 520px) / (740 - 520)));
    line-height: 0.8;
    margin-right: calc(90px + (196 - 90) * ((100vw - 520px) / (740 - 520)));
    margin-left: calc(90px + (176 - 90) * ((100vw - 520px) / (740 - 520)));
  }
}
@media screen and (min-width: 740px) {
  .logo {
    width: 75px;
    height: 75px;
  }
  .phone-num {
    font-weight: 800;
    font-size: 27px;
    line-height: 0.8;
    margin: 0 196px 0 176px;
    margin-right: calc(196px + (196 - 90) * ((100vw - 740px) / (1000 - 740)));
    margin-left: calc(176px + (176 - 90) * ((100vw - 740px) / (1000 - 740)));
  }
}
@media screen and (min-width: 1000px) {
  .logo {
    width: 80px;
    height: 80px;
    margin-right: calc(67px + (100 - 67) * ((100vw - 1000px) / (1440 - 1000)));
  }
  .phone-num {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  .nav {
    display: block;
    margin-left: calc(72px + (130 - 72) * ((100vw - 1000px) / (1440 - 1000)));
    margin-right: calc(
      146px + (296 - 146) * ((100vw - 1000px) / (1440 - 1000))
    );
  }
  .nav-list {
    display: flex;
    gap: calc(50px + (80 - 50) * ((100vw - 1000px) / (1440 - 1000)));
  }
  .search-form {
    display: block;
  }
  .order-btn {
    display: block;
    padding-top: calc(20px + (22 - 20) * ((100vw - 1000px) / (1440 - 1000)));
    padding-bottom:calc(20px + (22 - 20) * ((100vw - 1000px) / (1440 - 1000))) ;
    padding-left: calc(40px + (44 - 40) * ((100vw - 1000px) / (1440 - 1000)));
    padding-right: calc(39px + (44 - 39) * ((100vw - 1000px) / (1440 - 1000)));
    background: #131926;
    border-radius: 29px;
    color: #fafafa;
    font-family: 'Gilroy';
    border: transparent;
    font-weight: 800;
    font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1440 - 1000)));
    line-height: 0.8;
  }
  .search-svg {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 100px;
    height: 100px;
    margin-right: 100px;
  }
  .search-form {
    width: 200px;
  }
  .nav {
    margin: 0 297px 0 130px;
  }
  .nav-list {
    gap: 80px;
  }
  .nav-menu-item {
    font-weight: 800;
    font-size: 18px;
    line-height: 0.8;
  }
  .order-btn {
    font-weight: 800;
    font-size: 18px;
    line-height: 0.8;
    padding: 22px 44px 23px;
  }
}
