.logo {
  width: calc(62px + (62 - 60) * ((100vw - 420px) / (520 - 420)));
  height: calc(62px + (62 - 60) * ((100vw - 420px) / (520 - 420)));
}
.nav {
  display: none;
}
.phone-num {
  font-family: 'Gilroy';
  color: #131926;
  margin-right: calc(51px + (90 - 51) * ((100vw - 420px) / (520 - 420)));
  margin-left: calc(46px + (90 - 46) * ((100vw - 420px) / (520 - 420)));
  font-weight: 800;
  font-size: calc(23px + (25 - 23) * ((100vw - 420px) / (520 - 420)));
  line-height: 0.8;
}
.phone-num:hover {
  color: #c12023;
}

.main-header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.burger-menu {
  width: 50px;
  height: 46px;
}
.order-btn {
  display: none;
}
.search {
  padding: 0;
  width: 141px;
  outline: transparent;
  border: transparent;
  padding-left: 34px;
  font-weight: 800;
}
.search-form {
  display: none;
  position: relative;
  width: calc(141px + (200 - 141) * ((100vw - 1000px) / (1440 - 1000)));
}
.search::placeholder {
  color: #131926;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1440 - 1000)));
  line-height: 0.8;
}
.search-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  display: none;
  top: -3px;
  left: 3px;
}
.search-form::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #131926;
  top: 33px;
}
.nav-menu-item {
  font-weight: 800;
  font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1440 - 1000)));
  line-height: 0.8;
  color: #131926;
}
.link {
  color: #131926;
}
.link:hover {
  color: #c12023;
}
.order-btn:hover {
  background: #c12023;
}
@media screen and (min-width: 520px) {
  .logo {
    width: calc(60px + (75 - 60) * ((100vw - 520px) / (740 - 520)));
    height: calc(60px + (75 - 60) * ((100vw - 520px) / (740 - 520)));
  }
  .phone-num {
    font-weight: 800;
    font-size: calc(25px + (27 - 25) * ((100vw - 520px) / (740 - 520)));
    line-height: 0.8;
    margin-right: calc(90px + (196 - 90) * ((100vw - 520px) / (740 - 520)));
    margin-left: calc(90px + (176 - 90) * ((100vw - 520px) / (740 - 520)));
  }
}
@media screen and (min-width: 740px) {
  .logo {
    width: calc(75px + (80 - 75) * ((100vw - 740px) / (1000 - 740)));
    height: calc(75px + (80 - 75) * ((100vw - 740px) / (1000 - 740)));
  }
  .phone-num {
    font-weight: 800;
    font-size: calc(27px + (34 - 27) * ((100vw - 740px) / (1000 - 740)));
    line-height: 0.8;
    margin-right: calc(196px + (196 - 90) * ((100vw - 740px) / (1000 - 740)));
    margin-left: calc(176px + (176 - 90) * ((100vw - 740px) / (1000 - 740)));
  }
}
@media screen and (min-width: 1000px) {
  .logo {
    width: calc(80px + (100 - 80) * ((100vw - 1000px) / (1440 - 1000)));
    height: calc(80px + (100 - 80) * ((100vw - 1000px) / (1440 - 1000)));
    margin-right: calc(67px + (100 - 67) * ((100vw - 1000px) / (1440 - 1000)));
  }
  .phone-num {
    display: none;
  }
  .burger-menu {
    display: none;
  }
  .nav {
    display: block;
    margin-left: calc(72px + (130 - 72) * ((100vw - 1000px) / (1440 - 1000)));
    margin-right: calc(
      146px + (296 - 146) * ((100vw - 1000px) / (1440 - 1000))
    );
  }
  .nav-list {
    display: flex;
    gap: calc(50px + (80 - 50) * ((100vw - 1000px) / (1440 - 1000)));
  }
  .search-form {
    display: block;
  }
  .order-btn {
    display: block;
    padding-top: calc(20px + (22 - 20) * ((100vw - 1000px) / (1440 - 1000)));
    padding-bottom: calc(20px + (22 - 20) * ((100vw - 1000px) / (1440 - 1000)));
    padding-left: calc(40px + (44 - 40) * ((100vw - 1000px) / (1440 - 1000)));
    padding-right: calc(39px + (44 - 39) * ((100vw - 1000px) / (1440 - 1000)));
    background: #131926;
    border-radius: 29px;
    color: #fafafa;
    font-family: 'Gilroy';
    border: transparent;
    font-weight: 800;
    font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1440 - 1000)));
    line-height: 0.8;
  }
  .search-svg {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    width: 100px;
    height: 100px;
    margin-right: calc(
      100px + (130 - 100) * ((100vw - 1440px) / (1600 - 1440))
    );
  }
  .search-form {
    width: calc(200px + (220 - 200) * ((100vw - 1440px) / (1600 - 1440)));
  }
  .nav {
    margin-right: calc(
      297px + (307 - 297) * ((100vw - 1440px) / (1600 - 1440))
    );
    margin-left: calc(130px + (140 - 130) * ((100vw - 1440px) / (1600 - 1440)));
  }
  .nav-list {
    gap: calc(80px + (95 - 80) * ((100vw - 1440px) / (1600 - 1440)));
  }
  .nav-menu-item {
    font-weight: 800;
    font-size: calc(18px + (21 - 18) * ((100vw - 1440px) / (1600 - 1440)));
    line-height: 0.8;
  }
  .order-btn {
    font-weight: 800;
    font-size: calc(18px + (21 - 18) * ((100vw - 1440px) / (1600 - 1440)));
    line-height: 0.8;
    // padding: 22px 44px 23px;
    padding-top: calc(22px + (28 - 22) * ((100vw - 1440px) / (1600 - 1440)));
    padding-bottom: calc(22px + (28 - 22) * ((100vw - 1440px) / (1600 - 1440)));
    padding-right: calc(42px + (53 - 44) * ((100vw - 1440px) / (1600 - 1440)));
    padding-left: calc(42px + (53 - 44) * ((100vw - 1440px) / (1600 - 1440)));
  }
}
