body{
    position: relative;
}
.burger-menu--modal{  
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    
    width: 414px;
    height: 748px;
    background-color:#131926 ;
    color: #FAFAFA;
    font-weight: 800;
    line-height: 1.2;
    
}
.burger-menu__container {
    width: 414px;
    height: 748px;
    padding: 34px 35px 76px 51px;

}
.burger-menu--modal__search{
    position: relative;
    display: flex;
    align-items: center;
}
.burger-menu__search-svg{
    position: absolute;
    left: 0;
    bottom: 17px;
    width: 24px;
    height: 24px;
}
input[type="text"]::placeholder{
    color: #FAFAFA;
}
.burger-menu__serch-input {
    padding-left: 34px;
    padding-bottom: 17px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    border: transparent;
    font-weight: 800;
    outline: none;
    color: #FAFAFA;
    border-bottom: 1px solid  #D9D9D9;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: transparent;
}
.burger-menu__cros-svg {
    width: 18px;
    height: 18px;
}
.burger-menu__list {
    margin: 127px 0 200px 0;
}
.burger-menu__item {
    font-weight: 800px;
    font-size: 30px;
}
.burger-menu__item:hover{
    color: #DF2528;
}
.burger-menu__item:not(:last-child){
    margin-bottom: 30px;
}
.burger-menu__JT-svg {
    position: absolute;
    top: 273px;
    right: -26;
    width: 250px;
    height: 250px;
}
.burger-menu__social-medias-title {
    font-size: 25px;
}
.burger-menu__social-medias-list {
    display: flex;
    gap: 27px;
    margin-top: 29px;
}
.burger-menu__social-medias-item {
    width: 38px;
    height:38px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.burger-menu__social-medias-instSvg{
    width: 20px;
    height: 20px;
    margin: 9px;
} 
.burger-menu__social-medias-wkSvg {
    width: 24px;
    height: 16px;
    margin: 11px 7px;

}
.burger-menu__social-medias-youtubeSvg{
    width: 22px;
    height: 17px;
    margin: 11px 8px 10px 8px;

} 
.burger-menu__social-medias-D2Svg{
    width: 18px;
    height: 17px;
    margin: 10px 11px;

}
.burger-menu__social-medias-item:nth-child(1):hover {
    background-color:#A06C6D ;
}
.burger-menu__social-medias-item:nth-child(1):hover .burger-menu__social-medias-instSvg{
    fill: #FAFAFA;
}
.burger-menu__social-medias-item:nth-child(2):hover {
    background-color:#0079FA;
}
.burger-menu__social-medias-item:nth-child(2):hover .burger-menu__social-medias-wkSvg{
    fill: #FAFAFA;
}
.burger-menu__social-medias-item:nth-child(3):hover {
    background-color:#DF2528;
}
.burger-menu__social-medias-item:nth-child(3):hover .burger-menu__social-medias-youtubeSvg{
    fill: #FAFAFA;
}
.burger-menu__social-medias-item:nth-child(4):hover {
    background-color:#DF2528;
}
.burger-menu__social-medias-item:last-child:hover .burger-menu__social-medias-D2Svg{
    fill: #FAFAFA;
}